services:
  backend:
    build:
      context: ./backend
      target: dev
    container_name: paprika_backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env
